.containerJob {
  background-color: #FAFAFA;
  margin-left: 3.5rem ;
}

.containerJob > div {
  background-color: white;
  padding: 16px;
  border-radius: 8px; /* Adjust based on the Tailwind `rounded` class */
}

.containerJob .col-span-2 {
  grid-column: span 2 / span 2;
  border-radius: 4px; /* Adjust based on the Tailwind `rounded-sm` class */
}

@media (min-width: 768px) {
  .containerJob {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
  }
}

@media (min-width: 1024px) {
  .containerJob {
    padding-left: 24px;
    padding-right: 24px;
  }
}
